<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('css/login.css') }}">
		<title>Developers</title>
	</head>
	<body>
		<div class="back-image"></div>
		<section class="login-section">
			<div class="login container">
				<div class="uni-logo">
					<img src="/img/universal-logo.png" alt="" class="universal-logo">
				</div>
				<form action="{{ path('dashboard-login') }}" method="POST" class="form-container">
					{% if error %}
						{{ error.messageKey }}
					{% endif %}
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div>
						<span class="log">Login</span>
					</div>

					<input type="email" name="_username" id="username" class="input" placeholder="Email" required>


					<input type="password" name="_password" id="password" class="input" placeholder="Password" required>

					<img
					src="/img/hidden-eye.png" alt="" class="hidden-eye">
					{# <input type="button" value="Submit" class="btn"> #}
					<button type="submit" class="btn">Submit</button>
				</form>
			</div>
		</section>

		{# ////////////////////////////////////////////////////// #}
		{# <div class="row">
											<form action="{{ path('dashboard-login') }}" class="pt-5" method="POST">
												{% if error %}
													{{ error.messageKey }}
												{% endif %}
												<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								
												<input type="email" name="_username" id="username" class="form-control" required>
								
												<div class="form-text" id="emailHelp">We'll never share your email with anyone else.</div>
								
												<input type="password" name="_password" id="password" class="form-control" required>
								
												<button type="submit" class="btn">Submit</button>
											</form>
										</div> #}
	</body>
</html></div></body></html>
