<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link
		rel="stylesheet" href="{{ asset('css/styles.css') }}">
		{# <script src="{{ asset('js/script.js') }}"></script> #}
		<title>Clients</title>
	</head>
	<body>
		{% include ('/navigation/navigation.html.twig') %}
		<section class="clients-section">
			<div class="table-container overflow-auto-x">
				<table>
					<div class="search-add">
						<img src="/img/search-icon.png" alt="" class="search-icon">
						<input
						type="text" placeholder="Search" class="search-field">
						{# <a href="{{ path('clients-all-clients')}}"></a> #}
						<input type="button" value="Add Client" class="add-client-btn">

					</div>
					<thead>
						<th>Avatar</th>
						<th>Client name</th>
						<th class="opt">Options</th>
					</thead>
					<tbody>
						{% for client in clients %}
							<tr>
								<td>
									<img
									src="/img/it-convergence.png" alt="">
								{# {{ client.avatarpath }} #}

								</td>
								<td>
									{{ client.clientname }}
								</td>
								<td>
									<div class="options">

										<a href="{{ path('clients-edit-client', {'id':client.id}) }}"><img src="/img/eye.png" alt="" class="eye-pad"></a>
										<a href="{{ path('clients-delete-client', {'id':client.id}) }}"><img src="/img/delete1.png" alt=""></a>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td>not found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{# ///////////////////////////////////// #}
			<!-- ADD NEW CLIENT -->
			<div class="new-client">
				<divclass="new-user-info">
					<h1>New Client</h1>
					<div class="add-img">
						<img src="/img/add-image.png" alt="">
					</div>
					{{ form_start(form) }}
					Add Image:
					{{ form_widget(form.avatarPath , { 'attr': {'class': 'new-client-input'}}) }}
																																			Client Name:
					{{ form_widget(form.clientName , { 'attr': {'class': 'new-client-input'}}) }}
																																			Client Email:
					{{ form_widget(form.clientEmail , { 'attr': {'class': 'new-client-input'}}) }}
					<div class="btn-options">
						<button type="button" class="new-cancel-btn">Cancel</button>
						{{ form_widget(form.save, { 'attr': {'class': 'confirm-addclient-btn'}}) }}
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</section>
		<script>
			// BUTTONS
const addUser = document.querySelector(".add-client-btn");
const newUser = document.querySelector(".new-client");
const cancelUser = document.querySelector(".new-cancel-btn");
addUser.addEventListener("click", showNewUser);
cancelUser.addEventListener("click", showNewUser);
function showNewUser() {
newUser.classList.toggle("active");
};
// BUTTONS
		</script>
	</body>
</html></body></html></body></body></html>
